@charset "UTF-8";

/* ===================== Table Content Start ======================= 

Project Name 	:  Ms Jajini Varghese
File 			:  CSS Base
Version 		:  1.0.0
Created     	:  01/12/2025
Author 			:  nikhilsabu7@gmail.com

======================== Table Content End ===================== */

@import "variables";
@import "fonts";
@import "mixin";
@import "breakpoints";
@import "typography";
@import "reset";
@import "header";
@import "footer";
@import "style";
@import "pages";
